

.video-container {
    position: relative;
    padding-bottom: 56%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
}

.video-container iframe {
    position: absolute;
    top:0;
/*     left: 0; */
    width: 80%;
    height: 80%;
}

/*
.last-updated{
    position: absolute;
    right: 32px;
}

@media (max-width: 930px) {
  .last-updated {
      position: absolute;
      right: 0;
  }
}
*/

img{
    display: inline-block;
    margin-right: 5px;
}

.status .mikecz p {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 8 */
}
.status .mikecz a {
  display: block;
  width: calc(20% - 8px); /* 25 - 6 */
}
.status .mikecz img {
  display: block;
  width: 100%;
}
.status a:hover {
    transform: scale(0.96);
}
@media (max-width: 600px) {
  .status .mikecz a {
    width: calc(50% - 5px); /* 50 - 4*/
  }
}
.status .mikecz a:nth-child(5),
.status .mikecz a:nth-child(6){
  opacity: 0.05;
}

.status .pertim p {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.status .pertim a {
  display: block;
  width: calc(25% - 6px);
}
.status .pertim img {
  display: block;
  width: 100%;
}

@media (max-width: 600px) {
  .status .pertim a {
    width: calc(50% - 4px);
  }
}

h1.name{
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 2px 3px);
}

:root { /* hyper-barva */
    --vp-c-brand-1: #ff6767;
    --vp-c-brand-2: #c52121;
}

.dark { /* <hr> barva */
    --vp-c-divider: #2e2e32;
  }

/* font
:root{
    --vp-font-family-base: ; /* hlavní
    --vp-font-family-mono: ; /* code
} */

.banner img{
	width: 100%;
}

.VPFooter {
	.divider {
    color: var(--vp-c-divider)
  }
}
.VPFooter[data-v-566314d4] {
  padding: 15px;
}

/* Theme Switcher */
html:not(.dark) img[data-mode="darkmode-only"] {
	 display: none !important;
}
html:not(.dark) img[data-mode="darkmode-only"] + figcaption {
	 display: none !important;
}
.dark img[data-mode="lightmode-only"] {
	 display: none !important;
}
 .dark img[data-mode="lightmode-only"] + figcaption {
	 display: none !important;
}

.menu + .appearance::before {
	 margin-right: 8px !important;
}
 .appearance + .social-links::before {
	 margin-left: 8px !important;
}
 .VPMenu .CustomSwitchAppearance {
	 margin-right: -8px;
}

/* FAQ */
.custom-block.details {
  margin: 0.2em 0;
  background: var(--vp-c-bg-soft);
  border: 1px solid var(--vp-c-border);
  border-radius: 0;
}
.custom-block.details summary {
  font-size: 1.3em;
  padding-right: 24px;
  width: 100%;
  position: relative;
  cursor: pointer;
  list-style: none;
  outline: 0;
  margin-right: 1em;
}
.custom-block.details summary::-webkit-details-marker {
  display: none;
}
.custom-block.details summary:after {
  content: "+";
  color: var(--vp-custom-block-details-text);
  position: absolute;
  font-size: 2rem;
  line-height: 0;
  top: 50%;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 300ms linear;
}
.custom-block.details[open] p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 1.2em 0;
}
.custom-block.details[open] summary {
  margin-bottom: 1.3em;
}
.custom-block.details[open] summary:after {
  transform: rotate(45deg);
  right: -2px;
  top: calc(50% + 1px);
}
.custom-block.details[open] summary ~ * {
  opacity: 1;
  animation: open 0.3s ease-in-out;
}
.custom-block.details[open] ul, .custom-block.details[open] ol, .custom-block.details[open] blockquote p, .custom-block.details[open] pre code {
  font-size: 1.1em;
}
@media (max-width: 768px) {
  .custom-block.details[open] p {
    font-size: 1.1em;
 }
}
@keyframes open {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}

.el-alert.el-alert--warning.is-light {
	border-left: 5px solid;
	margin: 20px 0 0;
}

.el-alert.el-alert--warning.is-light:first-child {
	margin: 0;
}

.svglink{
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.prog-custom .el-progress.is-success .el-progress-bar__inner{
  background-color: var(--el-color-custom-success);
}
.prog-custom .el-progress.is-warning .el-progress-bar__inner{
  background-color: var(--el-color-custom-warning);
}
.prog-custom .el-progress.is-primary .el-progress-bar__inner{
  background-color: var(--el-color-custom-primary);
}
.stavpr{
  margin-top: 10px;
  margin-bottom: 5px;
}
.infopr{
  max-width: 5px;
}
.progpr{
  max-width: 5000px;
  margin-left: 7em;
}
/*********************************************/
.dark{
  color-scheme:dark;
  --el-color-custom: #42a1ff;
  --el-color-custom-light-3: #3375b9;
  --el-color-custom-light-5: #2a598a;
  --el-color-custom-light-7: #213d5b;
  --el-color-custom-light-8: #1d3043;
  --el-color-custom-light-9: #18222c;
  --el-color-warning-dark-2: #66b1ff;
  --el-color-success: #518235;
  --el-color-warning: #a18320;
}
:root{
  color-scheme:light;
  --el-color-custom: #42a1ff;
  --el-color-custom-light-3: #79bbff;
  --el-color-custom-light-5: #a0cfff;
  --el-color-custom-light-7: #c6e2ff;
  --el-color-custom-light-8: #d9ecff;
  --el-color-custom-light-9: #ecf5ff;
  --el-color-warning-dark-2: #337ecc;
  --el-color-custom-success: #518235;
  --el-color-custom-warning: #a18320;
  --el-color-custom-primary: #2d69a7;
}
/************************************************/
