.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    position: absolute;
    top:0;
/*     left: 0; */
    width: 80%;
    height: 80%;
}

img{
    display: inline-block;
    margin-right: 5px;
}

.status img{
    display: inline-block;
    margin-right: 5px;
    background: green;
    width: 24%;
}

.last-updated{
    position: absolute;
    right: 0;
}

:root{ /* hlavní text */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      190deg,
      #e60737,
      #ffd6d6,
      #dcd5fd,
      #003cff)
} 

:root { /* hyper-barva */
    --vp-c-brand-1: #ff5151;
    --vp-c-brand-2: #c91111;
}

.dark { /* <hr> barva */
    --vp-c-divider: #2e2e32;
  }
